@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/AutoComplete.css" />

<form autocomplete="off" id="form-search">

    <div class="autocomplete" style="width:50%;">
        <input id="myInput" type="text" name="myCountry" placeholder="Text Here">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br />